.cocktail-div {
  height: 100vh;
  overflow-y: hidden;
}
.upper-div {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(to right, #692e00, #a7611c);
  font-family: 'Bebas Neue';
  color: white;
}

.cocktail-name {
  font-size: 80px;
  width: 200px;
  line-height: 70px;
  margin-left: 100px;
  padding-top: 50px;
}

.lower-paralax-div {
  height: 100vh;
  width: 100%;
  animation: mymove 16s linear infinite;
  position: relative;
  z-index: -1;
}

.parallax-img {
  height: 50vh;
}

.sample-div-1 {
  background-color: green;
  height: 25vh;
  width: 100%;
}

.sample-div-2 {
  background-color: red;
  height: 25vh;
  width: 100%;
}

@keyframes mymove {
  from {
    top: 0vh;
  }
  to {
    top: -50vh;
  }
}
